<html>
    <head>

        <title>Cygnite Framework - Simple Crud Operation</title>

        {% block head %}
            <link rel="stylesheet" href="{{ baseUrl }}assets/css/cygnite/style.css" />
            <link rel="stylesheet" href="{{ baseUrl }}assets/css/cygnite/table.css" />
            <link rel="stylesheet" href="{{ baseUrl }}assets/bootstrap/css/bootstrap-theme.min.css" />
            <link rel="stylesheet" href="{{ baseUrl }}assets/bootstrap/css/bootstrap.min.css" />
            <link rel="jquery" href="{{ baseUrl }}assets/js/cygnite/jquery.js" />
            <link rel="jquery" href="{{ baseUrl }}assets/js/custom.js" />
            <link rel="bootstrap" href="{{ baseUrl }}assets/bootstrap/js/bootstrap.js" />
        {% endblock %}

    </head>
    <body>

    <div class='container'>
        {# dump(productLists) #}

        <div style="margin-left: 79%;margin-bottom: 10px;margin-top: 10px;">
            {{ link('products.type', 'Add Products', buttonAttributes.primary) | raw }}
        </div>

        <table cellspacing="0" cellpadding="0" style="width:890px;margin:0px auto;" class="data-grid">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Product Type</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {%  if products|length > 0 %}
                    {# dump(products) #}
                    {% for key, product in products %}

                        {% if loop.index % 2 == 0 %}
                            {%  set row = 'even' %}
                        {% else %}
                            {%  set row = 'odd' %}
                        {% endif %}

                        <tr class='{{ row }}'>
                            <td> {{ loop.index }}</td>
                            <td>{{ product.product_type|e}}</td>
                            <td>{{ product.name|e}}</td>
                            <td>{{ product.price|e}}</td>
                            <td>
                                {{ link('products.show.' ~ product.id ~ '/' ~ pageNumber , 'View' | upper, buttonAttributes.primary) | raw }}
                                {{ link('products.type.' ~ product.id ~ '/' ~ pageNumber , 'Edit' | upper, buttonAttributes.primary) | raw }}
                                {{ link('products.delete.' ~ product.id ~ '/' ~ pageNumber  , 'Delete' | upper, buttonAttributes.delete) | raw }}

                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr> <td>No records found ! </td></tr>
                {% endif  %}
            </tbody>


        </table>
        <div style=" margin-left: 797px;">{{ links |raw }} </div>

        </div>
    </body>
</html>


<script type="text/javascript">



</script>



<style type='text/css'>
    div.pagination {
        padding: 3px;
        margin: 3px;
    }

    div.pagination a {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #AAAADD;

        text-decoration: none; /* no underline */
        color: #000099;
    }
    div.pagination a:hover, div.pagination a:active {
        border: 1px solid #000099;

        color: #000;
    }
    div.pagination span.current {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #328AA4;

        font-weight: bold;
        background-color: #207892;
        color: #FFF;
    }
    div.pagination span.disabled {
        padding: 2px 5px 2px 5px;
        margin: 2px;
        border: 1px solid #EEE;

        color: #DDD;
    }

    .data-grid tr.even td {
        background-color: #E5F1F4 !important;
    }
    .data-grid tr.odd td {
        background-color: #FFFFFF !important;
    }

</style>

