<html>
<head>

    <title>Cygnite Framework - Simple Crud Operation</title>

    {% block head %}
        <link rel="stylesheet" href="{{ baseUrl }}assets/css/cygnite/style.css" />
        <link rel="stylesheet" href="{{ baseUrl }}assets/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{{ baseUrl }}assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ baseUrl }}assets/bootstrap/js/bootstrap.js" />
    {% endblock %}


</head>
<body>

<div class='container'>
    {# dump(productLists) #}

    <div style="float:right;margin-right:47px; margin-bottom: 10px;margin-top: 10px;">
        {{ Assets_addLink('products', 'Back', buttonAttributes.primary) | raw }}
    </div>

    <div style="color:#FF0000;">
        {{ validation_errors | raw }}
    </div>

    <div style="float:left;">
        {{ registration | raw }}
    </div>

</div>
</body>
</html>