<html >
    <head>

        <title>{% block title %} {% endblock %}</title>

        {% block head %}
            <link rel="stylesheet" href="{{ baseUrl }}assets/css/cygnite/table.css" />
            <link rel="stylesheet" href="{{ baseUrl }}assets/twitter/bootstrap/css/bootstrap-theme.min.css" />
            <link rel="stylesheet" href="{{ baseUrl }}assets/twitter/bootstrap/css/bootstrap.min.css" />
            <!-- Pick a theme, load the plugin & initialize plugin -->
            <link href="{{ baseUrl }}assets/js/tablesorter/css/theme.default.css" rel="stylesheet">
        {% endblock %}


    </head>
    <body>

    {% block header %}{% endblock %}

        <div class='container'>
            {% block content   %}{% endblock %}
        </div>

    {% block footer %}{% endblock %}

    {% block javascripts %}

        <script type="text/javascript" src="{{ baseUrl }}assets/js/cygnite/jquery.js" ></script>
        <script type="text/javascript" src="{{ baseUrl }}assets/js/custom.js" > </script>
        <script type="text/javascript" src="{{ baseUrl }}assets/twitter/bootstrap/js/bootstrap.js" ></script>
        <script type="text/javascript" src="{{ baseUrl }}assets/js/tablesorter/js/jquery.tablesorter.min.js"></script>
        <link rel="stylesheet" href="{{ baseUrl }}assets/css/cygnite/style.css" />
    {% endblock %}
    </body>
</html>